* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.emoji{
  font-size: 150px;
  cursor: pointer;
  user-select: none;
}

.open{
  display: none;
} 

.close{
  display:none;
}

.active{
  display: block;
}